{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
