@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SpaceGrotesk-Bold;
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk-Light;
  src: url('./assets/fonts/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk-Medium;
  src: url('./assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk-Regular;
  src: url('./assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk-SemiBold;
  src: url('./assets/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@layer base {
  html {
    @apply font-regular;
  }
}

.animation-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* You can add global styles to this file, and also import other style files */
